<div class="container">
  <div class="content-block">
    <div class="topbar">
      <div class="topbar-section">
        <i class="material-icons" style="padding-left:5px">
          menu
        </i>
      </div>
      <div class="topbar-section">
        <i class="material-icons topbar-icon">
          search
        </i>
        <i class="material-icons topbar-icon">
          shopping_cart
        </i>
      </div>
    </div>
    <div class="header-overlay">
      MJSTC
    </div>
    <div class="left-pane">
      <div class="img-container">
        <img src="../../assets/asset1.png" />
      </div>
      <div class="pane-content">
        <div>CRUISER SKATEBOARD</div>
        <div class="pane-header">
          <div>Oh YEA <br />..PUSH IT!</div>
        </div>
        <div class="product-description">
          <div>Interdum et malesuada fames ac ante ipsum primis in faucibus. </div>
          <div>Integer id nisi nec nulla lactus lacinia non eu turpis</div>
        </div>
        <div class="button" (click)="expandPane(0)">
          Discover More &nbsp; &nbsp;
          <i class="material-icons">
            arrow_right_alt
          </i>
        </div>
      </div>
    </div>
    <div class="right-pane">
      <div class="img-container">
        <img src="../../assets/shoe-2.png" id="shoe-img" />
      </div>
      <div class="pane-content">
        <div>CRUISER SKATEBOARD</div>
        <div class="pane-header">
          <div class="text-block">Because</div>
          <div class="text-block">I'm Happy</div>
          <div class="text-block">Again</div>
        </div>
        <div class="product-description">
          <div>Interdum et malesuada fames ac ante ipsum primis in faucibus.</div>
          <div>Integer id nisi nec nulla lactus lacinia non eu turpis.</div>
        </div>
        <div class="button" (click)="expandPane(1)">
          Discover More &nbsp; &nbsp;
          <i class="material-icons">
            arrow_right_alt
          </i>
        </div>
      </div>
    </div>
  </div>
</div>
